<%- include('_head'); -%>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand font-croissant" href="/">
                <img src="/views/assets/icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-top mr-2">
                <span>BC - Base do Conhecimento</span>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto font-nunito-bold">    
                      <li class="nav-item">
                          <a class="nav-link font-nunito-bold" href="/">Home</a>
                      </li>  
                  <% if(user && user.author_level == 'administrador'){ %>
                  
                      <li class="nav-item"> <!-- só aparecer quando o usuário é um admin -->
                          <a class="nav-link font-nunito-bold" href="/list-articles">Artigos</a>
                      </li> 
                      <li class="nav-item">
                          <a class="nav-link font-nunito-bold" href="/list-users">Usuários</a>
                      </li>  
                  <% } %>
                  <% if(user){ %>
                      <li class="nav-item">
                          <a class="nav-link font-nunito-bold active" href="/logout">Sair</a>            
                      </li>
                      
                  <% } else{ %>  
                      <li class="nav-item">
                          <a class="nav-link font-nunito-bold active" href="/login">Login</a>        
                      </li>
                      <% } %>           
                </ul>
            </div>
        </div>
      </nav>
      
      
          
