<% if(message) { %>       
  <div class="container alert alert-<%=message.type %> d-flex justify-content-between align-items-center" style="width: 400px;">
    <%= message.message %>
    <a href="" class="close" data-dismiss="alert">
        <i class="material-icons" style="color: var(--primary);">close</i>
    </a>
</div>
 <% }; %>
 