<%- include('./partials/_header'); -%>

  <main class="container container-form mt-5 mb-5">
    <h2 class="text-center mb-2">Cadastro de Artigo</h2>
    <form class="row g-3" action="/articles/create" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="col-md-12">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control focus-purple" name="title">
      </div>
      <div class="col-md-12">
        <label for="body" class="form-label">Corpo do texto</label>
        <textarea class="form-control focus-purple" name="body" style="height: 200px;"></textarea>
      </div>
      <div class="col-12">
        <label for="keywords" class="form-label">Palavras-chave</label>
        <input type="text" class="form-control focus-purple" name="keywords">
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label for="author_name" class="form-label">Nome do autor</label>
            <input type="text" class="form-control focus-purple" name="author_name">              
          </div>
          <div class="col-md-6">
            <label for="published_date" class="form-label">Data de publicação</label>
            <input type="text" class="form-control focus-purple" name="published_date">              
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3" style="margin-top: 28px;">
        <span class="col-sm-3" style="margin-right: 12px;">Artigo destaque?</span>
        <div class="form-check form-check-inline">
            <input class="form-check-input focus-purple" type="radio" name="featured" id="gridRadios1" value="on"
                checked>
            <label class="form-check-label focus-purple" for="gridRadios1">
                Sim
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input focus-purple" type="radio" name="featured" id="gridRadios2" value="off">
            <label class="form-check-label" for="gridRadios2">
                Não
            </label>
        </div>
      </div>
      <div class="text-center btn-cadastrar-artigo">
        <button type="submit" class="btn btn-success" style="width: 150px;">Cadastrar</button>
      </div>
    </form>
  </main>

<%- include('./partials/_footer'); -%>