<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"  async></script>
    <!-- Rota no qual serve nossos controllers estáticos (note que não é o caminho relativo como "./controllers") -->
    <!-- ^^^^^ Crissiano explain - Não precisa, é so colocar o Href = "/rota" -->
    <script src="../public/controllers/UserController.js"></script>
</head>

<body>
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="/home" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Destaques</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Mais curtidos</a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><button onclick="openLoginPage()" class="nav-link link-body-emphasis px-2">Login</button></li>
            <li class="nav-item"><a href="/cadastro-usuario" class="nav-link link-body-emphasis px-2">Cadastrar-se</a></li>
          </ul>
        </div>
    </nav>

    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/home" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <!-- colocar o icone do img aqui-->
            <span class="fs-4">BC - Base de conhecimento</span>
          </a>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Busque um artigo..." aria-label="Search">
          </form>
        </div>
    </header>
</body>
</html>