<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"  async></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/views/styles.css">
    <link rel="icon" href="/views/assets/icon.png" type="image/png">
    <style>
      .bg-light-purple {
          background-color: #972ed9; /* Cor de fundo roxo claro */
      }
  </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-light-purple">
  <div class="container">
      <a class="navbar-brand" href="/">
          <img src="/views/assets/icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
          BC - Base de Conhecimento
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto justify-content-end"> 

            <% if(user) { %>       
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Olá, <%= user %>!</a>
                </li>    
            <% }; %>

            <% if(visibility) { %>       
                <li class="nav-item">
                    <a class="nav-link" href="/list-users">Listar Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro-usuario">Cadastrar-se</a>
                </li>   
            <% }; %>    

            <% if(user){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>            
                </li>
               
            <% } else{ %>  
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>        
                </li>
             <% } %>           
          </ul>
      </div>
  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
      <div class="d-flex">
          <a class="nav-link active me-3" href="/">Home</a>
          <a class="nav-link me-3" href="#">Destaques</a>
          <% if(visibility) { %>       
            <a class="nav-link" href="/cadastro-artigo">Escrever Artigo</a>
          <% }; %>                    
      </div>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
          <input type="search" class="form-control" placeholder="Busque um artigo..." aria-label="Search">
      </form>
  </div>
</header>

