<%- include('./partials/_header'); -%>
<body class="background-gradient">
    <main class="container d-flex flex-column justify-content-center align-items-center min-vh-100 ">
        <%- include('./partials/_msg'); -%>
        <form class="form text-center justify-content-center" action="/login/autenticar" method="POST" enctype="application/x-www-form-urlencoded">
            <p class="form-title">Entre na sua conta</p>
            <div class="input-container">
            <input name="user" placeholder="Digite seu e-mail" type="text">
            </div>
            <div class="input-container">
                <input name="password" placeholder="Digite sua senha" type="password">
            </div>
            <button class="submit" type="submit">Entrar</button>
        </p>
        </form>
    </main>   
</body>
  