<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"  async></script>
    <link rel="stylesheet" href="/views/styles.css">
    <link rel="icon" href="/views/assets/icon.png" type="image/png"> 
</head>
<body class="container d-flex justify-content-center align-items-center background-color" style="min-height: 100vh;">
    <form class="form text-center justify-content-center" action="/login/autenticar" method="POST" enctype="application/x-www-form-urlencoded">
        <p class="form-title">Entre na sua conta</p>
        <div class="input-container">
           <input name="user" placeholder="Digite seu e-mail" type="text">
        </div>
       <div class="input-container">
           <input name="password" placeholder="Digite sua senha" type="password">
        </div>
        <button class="submit" type="submit">Entrar</button>
        <p class="signup-link"> Ainda não possui conta?
         <a href="/cadastro-usuario">Cadastre-se agora</a>
       </p>
    </form>
</body>
</html>    