@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

:root {
    --primary: rgb(124, 17, 185);
    --secondary: rgb(252, 252, 252);
    --primary-light: rgb(230, 202, 247);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.background-color {
    background: linear-gradient(135deg, #852fd6 0%, #8f058f 20%, #9932CC 40%, #852fd6 60%, #8f058f 80%, #9932CC 100%);
}

.user-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 27%;
    max-width: 30%;
    height: 56%;
    background-color: var(--secondary);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 1px rgba(70, 69, 69, 0.5);
    border-radius: 40px;
}

.login-container {
    width: 60%;
}

.login-container .form-floating input {
    min-height: 48px!important;
}

.login-container .form-floating label {
    font-size: 14px;
}

.new-user {
    font-size: 14px;
    position: absolute;
    bottom: 10;
}

.new-user a {
    color: var(--primary);
}

.new-user a:hover {
    color: rgb(43, 136, 100);
}

.new-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 70%;
    margin: auto;
    border-radius: 20px;   
    background-color: #f5f5f5;
}

.new-article h2 {
    color: #333 ;
}

.new-article h2, label {
    font-family: 'Grandstander', cursive;
}

.btn-cadastrar-artigo {
    margin-top: 2%;
}

/* login */

.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(12, 12, 12, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #238033;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  color: #aa31aa;
  text-decoration: none;
}


.form {
display: flex;
flex-direction: column;
gap: 10px;
max-width: 350px;
background-color: #fff;
padding: 20px;
border-radius: 20px;
position: relative;
}

.title {
font-size: 28px;
color: royalblue;
font-weight: 600;
letter-spacing: -1px;
position: relative;
display: flex;
align-items: center;
padding-left: 30px;
}

.title::before,.title::after {
position: absolute;
content: "";
height: 16px;
width: 16px;
border-radius: 50%;
left: 0px;
background-color: royalblue;
}

.title::before {
width: 18px;
height: 18px;
background-color: royalblue;
}

.title::after {
width: 18px;
height: 18px;
animation: pulse 1s linear infinite;
}

.message, .signin {
color: rgba(88, 87, 87, 0.822);
font-size: 14px;
}

.signin {
text-align: center;
}

.signin a {
color: royalblue;
}

.signin a:hover {
text-decoration: underline royalblue;
}

.flex {
display: flex;
width: 100%;
gap: 6px;
}

.form label {
position: relative;
}

.form label .input {
width: 100%;
padding: 10px 10px 20px 10px;
outline: 0;
border: 1px solid rgba(105, 105, 105, 0.397);
border-radius: 10px;
}

.form label .input + span {
position: absolute;
left: 10px;
top: 15px;
color: grey;
font-size: 0.9em;
cursor: text;
transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
top: 15px;
font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
top: 30px;
font-size: 0.7em;
font-weight: 600;
}

.form label .input:valid + span {
color: green;
}

.submit {
border: none;
outline: none;
background-color: royalblue;
padding: 10px;
border-radius: 10px;
color: #fff;
font-size: 16px;
transform: .3s ease;
}

.submit:hover {
background-color: rgb(56, 90, 194);
}

@keyframes pulse {
from {
  transform: scale(0.9);
  opacity: 1;
}

to {
  transform: scale(1.8);
  opacity: 0;
}
}