@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

:root {
    --primary: rgb(124, 17, 185);
    --secondary: rgb(252, 252, 252);
    --primary-light: rgb(230, 202, 247);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 768px) {
    .user-login {
        /*Camile: fazer o responsivo depois */
    }
}

.background-color {
    background-image: url(./assets/background-login.jpg);
}

.user-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 27%;
    max-width: 30%;
    height: 56%;
    background-color: var(--secondary);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 1px rgba(70, 69, 69, 0.5);
    border-radius: 40px;
}

.login-container {
    width: 60%;
}

.login-container .form-floating input {
    min-height: 48px!important;
}

.login-container .form-floating label {
    font-size: 14px;
}

.new-user {
    font-size: 14px;
    position: absolute;
    bottom: 10;
}

.new-user a {
    color: var(--primary);
}

.new-user a:hover {
    color: rgb(43, 136, 100);
}

.new-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--primary-light);
    width: 95%;
    margin: auto;
    border-radius: 20px;   
}

.new-article h2 {
    color: #333 ;
}

.new-article h2, label {
    font-family: 'Grandstander', cursive;
}

.btn-cadastrar-artigo {
    margin-top: 2%;
}